*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  min-height: 100vh;
  overflow-x: hidden; /* Supprime le scroll horizontal bas */
  background-color: #f8fafc;
}